
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: white;
    background-color: black;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.user-inputs {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.user-input {
    margin: 15px;
}

.user-button {
    color: white;
    background-color: black;
    padding: 10px 20px;
    margin: 15px;
    font-size: medium;
    border-radius: 10px;
}

.user-button-space {
    display: flex;
    justify-content: center;
}

label {
    padding: 5px;
}

input {
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(200, 200, 200);
}

input:focus {
    background-color: white;
}

.table-space {
    display: flex;
    justify-content: center;
}

.users-table {
    background-color: rgb(185, 255, 152);
    border-radius: 5px;
    padding: 10px;
    width: 50%;
}

td {
    text-align: center;
    margin: 5px;
}

.user-remove {
    background-color: rgb(255, 120, 120);
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}